services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chatbot-react-app
    ports:
      - "5173:5173"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

